*{
	margin: 0;
	padding: 0;
}

body       
{
	

	/*设置字体基本属性*/
	font-family: Arial,Verdana, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif; /*字体选择*/	
	font-size: 16px;			/*字体大小*/			
	font-style: normal;         /*字体属性*/
	font-variant: normal;       /*字体变形*/
	font-weight: 400;           /*字体粗细，400为正常*/
	
	/*设置字体间距*/
	letter-spacing: normal;  /*字符间距*/
	word-spacing: normal;       /*字间距*/
	line-height: 1.6em;    /*行高*/

	/*设置字体色彩*/
	color: #333;

	/*设置背景*/
	/*background: #ffffff;*/
	background: url('images/bg-2.png');

}

/*去掉列表前的标识，但li会继承*/
ol,ul{
	list-style: none; 
}

/*默认不显示下划线*/
a{
	text-decoration: none;
	color: #333;
}
a :hover{
	text-decoration: none;
}


main{
}
